<html>

<body>
  <header> <h1> Indorse Assignment 2.0</h1>  </header>

  <div class="searchbar">
    <form action="/" method="post">
      <div class="search-tbox">
        Transaction # <input id="search-transaction" name="hash" type="text" placeholder="ex. 0x6f61ee4dc528443d8b6ab12240a53588fb72c659e1abfe6e6cc0d2346359be4a"
          value="<% if @txInfo['hash'] != 0 %>  <%= @txInfo['hash'] %>    <%end%>" >  </input>
      </div>
      <div class="mode">
        <fieldset class="mode">
            <input type= "radio" value="mainnet" name="mode" id="mode-mainnet" <% if params[:mode] == 'mainnet' %>checked<% else %><%end%>>
              <label for="mode-mainnet"> Mainnet </label>
           </input>
            <input type="radio" value="ropsten" name="mode"  id="mode-ropsten" <% if params[:mode] == 'ropsten' %>checked<% else %><%end%>>
              <label for="mode-ropsten"> Ropsten  </label>
            </input>
        </fieldset>
        <button id="btn-search1" class="search" type="submit"> Search </button>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      </div>
    </form>
  </div>
  <div class="tab-content" style="padding: 1px 0;">
    <div class="" id="overview">
      <div class="">
        <div class="panel-title">
          <div class="h2"> <h2> Ethereum transaction information</h2> &nbsp;
          </div>
        </div>

            <%if @txInfo['hash'] != 0  && (@txInfo['response']) && (@txInfo['response']['type'] == params[:mode]) %>
              <table class="info">
                <tr> <td class="type1"> Type: </td> <td class="type2"> <%= params[:mode] %> </td> </tr>
                <tr> <td class="type1"> TxHash: </td> <td class="type2"> <%= @txInfo['hash'] %> </td> </tr>
                <tr> <td class="type1"> TxReceipt Status: </td> <td class="type2" style="color:<%= @status_color %>" title="Success/Fail available for post BYZANTIUM blocks only"> <%= @status%> </td> </tr>
                <tr> <td class="type1"> Timestamp </td> <td class="type2" style="color:blue">
                  <%= if @txInfo['response']['timeStamp'] then Time.at(@txInfo['response']['timeStamp'].to_i).to_s end%> </td> </tr>
                <tr> <td class="type1"> Block Height: </td> <td class="type2"> <a href="https://etherscan.io/block/<%= @txInfo['response']['blockNumber'].to_i(16).to_s%>"> <%= @txInfo['response']['blockNumber'].to_i(16).to_s %></a> </td> </tr>
                <tr> <td class="type1"> From: </td> <td class="type2">  <a href="https://etherscan.io/address/<%= @txInfo['response']['from'] %> "> <%= @txInfo['response']['from'] %>    </a> </td>  </tr>
                <tr> <td class="type1"> To: </td> <td class="type2"> <a href="https://etherscan.io/address/<%= @txInfo['response']['to'] %> " class="wordwrap"><%= @txInfo['response']['to'] %> </a>       </td>   </tr>
                <tr> <td class="type1"> Value: </td> <td class="type2">     <%= @txInfo['response']['gasPrice'].to_s %> Ether     </td> </tr>
                <tr> <td class="type1"> Gas Limit: </td> <td class="type2">   <%= @txInfo['response']['gas'].to_i(16).to_s %>       </td> </tr>
                <tr> <td class="type1"> Gas Used By Transaction: </td> <td class="type2">  <%= @txInfo['response']['gasUsed'].to_s %> Ether   </td> </tr>
                <tr> <td class="type1"> Gas Price: </td> <td class="type2">  <%= @txInfo['response']['gasPrice'].to_s %> Ether   </td> </tr>
                <tr> <td class="type1"> Actual Tx Cost/Fee: </td> <td class="type2">  <%= @txInfo['response']['gasPrice'].to_f*@txInfo['response']['gasUsed'].to_f %> Ether   </td> </tr>
                <tr> <td class="type1"> Nonce & (Position) </td> <td class="type2">  <%= @txInfo['response']['nonce'].to_s %> | {<%= @txInfo['response']['position'].to_s %>}   </td> </tr>
                <tr> <td class="type1"> Input Data </td> <td class="type2">  <%= @txInfo['response']['gasPrice'].to_s %> Ether   </td> </tr>

              </table>
            <% elsif @request == "get" %>
            <% else %>
              <div class="failed" style="color:red">
                Could not obtain data.  Try a different transaction hash
              </div>
            <% end %>
            <br>
          </div>
        </div>
        </div>
        &nbsp Powered by Etherscan API and Ruby on Rails
      </body>
      </html>
