<html>

<body>
  <h1> Randall Babaoye's submission </h1>
  <h2> Ethereum transaction information.</h2>
  <form action="">
    <div class="searchbar">
      Enter transaction # <input id="search-transaction" name="hash" type="text" placeholder="transaction number"
      value="<% if @txInfo['hash'] != 0 %> <%= @txInfo['hash'] %> <%end%>" >  </input>
      <input type="hidden" value="mainnet" name="mode" class="mode">
      <button id="btn-search1" class="search"> Search Mainnet </button>
      <button id="btn-search2"  class="search" > Search Ropsten </button>
    </div>
  </form>
  <div class="tab-content" style="padding: 1px 0;">
    <div class="tab-pane fade in active" id="overview">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Transaction Information &nbsp;
            <span class="pull-right">
              <h3 class="panel-title">
                <img src="/images/EllipsisSpinner3.gif" id="spinnerwait" style="display:none; margin-bottom:2px; margin-top:0px; margin-right:20px">
              </h3>
            </span></h3></div>

            <%if @txInfo['hash'] != 0  && (@txInfo['response']['result'] && @txInfo['response']['result']['type'] == params[:mode]) %>
            <table class="info">
              <tr> <td class="type1"> Type: </td> <td class="type2"> <%= params[:mode] %> </td> </tr>
              <tr> <td class="type1"> TxHash: </td> <td class="type2"> <%= @txInfo['hash'] %> </td> </tr>
              <tr> <td class="type1"> TxReceipt Status: </td> <td class="type2" style="color:green"> <%= @txInfo['response']['txreceipt_status'] %> </td> </tr>
              <tr> <td class="type1"> Timestamp </td> <td class="type2" style="color:blue">
                <%= if @txInfo['response']['timeStamp'] then Time.at(@txInfo['response']['timeStamp'].to_i).to_s end%> </td> </tr>
              <tr> <td class="type1"> Block Height: </td> <td class="type2"> <a href="https://etherscan.io/block/<%= @txInfo['response']['result']['blockNumber'].to_i(16).to_s%>"> <%= @txInfo['response']['result']['blockNumber'].to_i(16).to_s %></a> </td> </tr>
              <tr> <td class="type1"> From: </td> <td class="type2">  <a href="https://etherscan.io/address/<%= @txInfo['response']['result']['from'] %> "> <%= @txInfo['response']['result']['from'] %>    </a> </td>  </tr>
              <tr> <td class="type1"> To: </td> <td class="type2"> <a href="https://etherscan.io/address/<%= @txInfo['response']['result']['to'] %> " class="wordwrap"><%= @txInfo['response']['result']['to'] %> </a>       </td>   </tr>
              <tr> <td class="type1"> Value: </td> <td class="type2">     <%= @value.to_s %> Ether     </td> </tr>
              <tr> <td class="type1"> Gas: </td> <td class="type2">   <%= @txInfo['response']['result']['gas'].to_i(16).to_s %>       </td> </tr>
              <tr> <td class="type1"> Gas Price: </td> <td class="type2">  <%= @gas_price.to_s %> Ether   </td> </tr>
            </table>
            <% else %>
            <div class="failed" style="color:red">
              Could not obtain data.  Try a different transaction hash
            </div>
            <% end %>
            <br>
          </div>
        </div>
        </div>
        &nbsp Powered by Etherscan API and Ruby on Rails
      </body>
      </html>
